body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1.2em;
    background-color: #fff;
    color: #383838;
}
a {
    color: #007baa;
}
p {
    text-align: justify;
}
small {
    display: block;
    text-align: center;
}
#content {
    margin: 50px auto;
    width: 900px;
}
